$black: #000;
$white: #fff;
$gray: #949494;
$sky-blue: #4474ce;
$window-background: #bdbabf;
$window-light-border: #fff;
$window-dark-border: #7b777d;
$window-header: #00f;

$normal-text-color: $white;
$app-background: $sky-blue;

$normal-font: 'Times New Roman', Times, serif;